<a href="https://colab.research.google.com/github/AseiSugiyama/PokemonAnalytics/blob/add-pokemon-analysis-notebook/pokemon_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Road to Pokémon Master!

Welcome to this data science hands-on! This notebook contains following contents;

1. Exploratory data analysis with [The Complete Pokemon Dataset](https://www.kaggle.com/rounakbanik/pokemon)
2. Legendary pokémons detection
3. Pokémon battle dataset analysis

## Download datasets

In [1]:
!rm -rf PokemonAnalytics
!git clone https://github.com/AseiSugiyama/PokemonAnalytics.git

Cloning into 'PokemonAnalytics'...
remote: Enumerating objects: 65, done.
remote: Counting objects: 100% (65/65), done.
remote: Compressing objects: 100% (51/51), done.
remote: Total 65 (delta 24), reused 52 (delta 13), pack-reused 0
Unpacking objects: 100% (65/65), done.

In [2]:
!ls -R ./PokemonAnalytics/data

./PokemonAnalytics/data:
battle	pokedex

./PokemonAnalytics/data/battle:
gen8battlestadiumsingles_battle_logs.json
gen8battlestadiumsingles_dataset.json
gen8battlestadiumsingles_parsed_battle_logs.json
gen8battlestadiumsingles_replay_ids.json
gen8battlestadiumsingles_top_users.json

./PokemonAnalytics/data/pokedex:
height_and_weight.csv  Pokemon.csv  README.md

In [3]:
!pip install pandas-profiling[notebook,html] swifter

Requirement already satisfied: pandas-profiling[html,notebook] in /usr/local/lib/python3.6/dist-packages (1.4.1)
  WARNING: pandas-profiling 1.4.1 does not provide the extra 'html'
  WARNING: pandas-profiling 1.4.1 does not provide the extra 'notebook'
Requirement already satisfied: swifter in /usr/local/lib/python3.6/dist-packages (0.300)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.6/dist-packages (from pandas-profiling[html,notebook]) (1.12.0)
Requirement already satisfied: jinja2>=2.8 in /usr/local/lib/python3.6/dist-packages (from pandas-profiling[html,notebook]) (2.10.3)
Requirement already satisfied: pandas>=0.19 in /usr/local/lib/python3.6/dist-packages (from pandas-profiling[html,notebook]) (0.25.3)
Requirement already satisfied: matplotlib>=1.4 in /usr/local/lib/python3.6/dist-packages (from pandas-profiling[html,notebook]) (3.1.2)
Requirement already satisfied: ipywidgets>=7.0.0 in /usr/local/lib/python3.6/dist-packages (from swifter) (7.5.1)
Requirement already satisfied: parso>0.4.0 in /usr/local/lib/python3.6/dist-packages (from swifter) (0.5.2)
Requirement already satisfied: numba in /usr/local/lib/python3.6/dist-packages (from swifter) (0.47.0)
Requirement already satisfied: tqdm>=4.33.0 in /usr/local/lib/python3.6/dist-packages (from swifter) (4.42.0)
Requirement already satisfied: dask[complete]>=0.19.0 in /usr/local/lib/python3.6/dist-packages (from swifter) (2.9.1)
Requirement already satisfied: psutil in /usr/local/lib/python3.6/dist-packages (from swifter) (5.4.8)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.6/dist-packages (from jinja2>=2.8->pandas-profiling[html,notebook]) (1.1.1)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.19->pandas-profiling[html,notebook]) (1.17.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.19->pandas-profiling[html,notebook]) (2018.9)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.19->pandas-profiling[html,notebook]) (2.6.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=1.4->pandas-profiling[html,notebook]) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=1.4->pandas-profiling[html,notebook]) (1.1.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=1.4->pandas-profiling[html,notebook]) (2.4.6)
Requirement already satisfied: nbformat>=4.2.0 in /usr/local/lib/python3.6/dist-packages (from ipywidgets>=7.0.0->swifter) (5.0.3)
Requirement already satisfied: traitlets>=4.3.1 in /usr/local/lib/python3.6/dist-packages (from ipywidgets>=7.0.0->swifter) (4.3.3)
Requirement already satisfied: ipython>=4.0.0; python_version >= "3.3" in /usr/local/lib/python3.6/dist-packages (from ipywidgets>=7.0.0->swifter) (5.5.0)
Requirement already satisfied: ipykernel>=4.5.1 in /usr/local/lib/python3.6/dist-packages (from ipywidgets>=7.0.0->swifter) (4.6.1)
Requirement already satisfied: widgetsnbextension~=3.5.0 in /usr/local/lib/python3.6/dist-packages (from ipywidgets>=7.0.0->swifter) (3.5.1)
Requirement already satisfied: llvmlite>=0.31.0dev0 in /usr/local/lib/python3.6/dist-packages (from numba->swifter) (0.31.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from numba->swifter) (42.0.2)
Requirement already satisfied: cloudpickle>=0.2.1; extra == "complete" in /usr/local/lib/python3.6/dist-packages (from dask[complete]>=0.19.0->swifter) (1.2.2)
Requirement already satisfied: fsspec>=0.6.0; extra == "complete" in /usr/local/lib/python3.6/dist-packages (from dask[complete]>=0.19.0->swifter) (0.6.2)
Requirement already satisfied: partd>=0.3.10; extra == "complete" in /usr/local/lib/python3.6/dist-packages (from dask[complete]>=0.19.0->swifter) (1.1.0)
Requirement already satisfied: bokeh>=1.0.0; extra == "complete" in /usr/local/lib/python3.6/dist-packages (from dask[complete]>=0.19.0->swifter) (1.4.0)
Requirement already satisfied: PyYaml; extra == "complete" in /usr/local/lib/python3.6/dist-packages (from dask[complete]>=0.19.0->swifter) (3.13)
Requirement already satisfied: distributed>=2.0; extra == "complete" in /usr/local/lib/python3.6/dist-packages (from dask[complete]>=0.19.0->swifter) (2.9.3)
Requirement already satisfied: toolz>=0.7.3; extra == "complete" in /usr/local/lib/python3.6/dist-packages (from dask[complete]>=0.19.0->swifter) (0.10.0)
Requirement already satisfied: jupyter-core in /usr/local/lib/python3.6/dist-packages (from nbformat>=4.2.0->ipywidgets>=7.0.0->swifter) (4.6.1)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.6/dist-packages (from nbformat>=4.2.0->ipywidgets>=7.0.0->swifter) (0.2.0)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in /usr/local/lib/python3.6/dist-packages (from nbformat>=4.2.0->ipywidgets>=7.0.0->swifter) (2.6.0)
Requirement already satisfied: decorator in /usr/local/lib/python3.6/dist-packages (from traitlets>=4.3.1->ipywidgets>=7.0.0->swifter) (4.4.1)
Requirement already satisfied: prompt-toolkit<2.0.0,>=1.0.4 in /usr/local/lib/python3.6/dist-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.0.0->swifter) (1.0.18)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.6/dist-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.0.0->swifter) (0.7.5)
Requirement already satisfied: simplegeneric>0.8 in /usr/local/lib/python3.6/dist-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.0.0->swifter) (0.8.1)
Requirement already satisfied: pygments in /usr/local/lib/python3.6/dist-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.0.0->swifter) (2.1.3)
Requirement already satisfied: pexpect; sys_platform != "win32" in /usr/local/lib/python3.6/dist-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.0.0->swifter) (4.7.0)
Requirement already satisfied: tornado>=4.0 in /usr/local/lib/python3.6/dist-packages (from ipykernel>=4.5.1->ipywidgets>=7.0.0->swifter) (4.5.3)
Requirement already satisfied: jupyter-client in /usr/local/lib/python3.6/dist-packages (from ipykernel>=4.5.1->ipywidgets>=7.0.0->swifter) (5.3.4)
Requirement already satisfied: notebook>=4.4.1 in /usr/local/lib/python3.6/dist-packages (from widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->swifter) (5.2.2)
Requirement already satisfied: locket in /usr/local/lib/python3.6/dist-packages (from partd>=0.3.10; extra == "complete"->dask[complete]>=0.19.0->swifter) (0.2.0)
Requirement already satisfied: pillow>=4.0 in /usr/local/lib/python3.6/dist-packages (from bokeh>=1.0.0; extra == "complete"->dask[complete]>=0.19.0->swifter) (6.2.2)
Requirement already satisfied: packaging>=16.8 in /usr/local/lib/python3.6/dist-packages (from bokeh>=1.0.0; extra == "complete"->dask[complete]>=0.19.0->swifter) (20.0)
Requirement already satisfied: msgpack in /usr/local/lib/python3.6/dist-packages (from distributed>=2.0; extra == "complete"->dask[complete]>=0.19.0->swifter) (0.5.6)
Requirement already satisfied: sortedcontainers!=2.0.0,!=2.0.1 in /usr/local/lib/python3.6/dist-packages (from distributed>=2.0; extra == "complete"->dask[complete]>=0.19.0->swifter) (2.1.0)
Requirement already satisfied: zict>=0.1.3 in /usr/local/lib/python3.6/dist-packages (from distributed>=2.0; extra == "complete"->dask[complete]>=0.19.0->swifter) (1.0.0)
Requirement already satisfied: click>=6.6 in /usr/local/lib/python3.6/dist-packages (from distributed>=2.0; extra == "complete"->dask[complete]>=0.19.0->swifter) (7.0)
Requirement already satisfied: tblib in /usr/local/lib/python3.6/dist-packages (from distributed>=2.0; extra == "complete"->dask[complete]>=0.19.0->swifter) (1.6.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.6/dist-packages (from prompt-toolkit<2.0.0,>=1.0.4->ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.0.0->swifter) (0.1.8)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.6/dist-packages (from pexpect; sys_platform != "win32"->ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.0.0->swifter) (0.6.0)
Requirement already satisfied: pyzmq>=13 in /usr/local/lib/python3.6/dist-packages (from jupyter-client->ipykernel>=4.5.1->ipywidgets>=7.0.0->swifter) (17.0.0)
Requirement already satisfied: terminado>=0.3.3; sys_platform != "win32" in /usr/local/lib/python3.6/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->swifter) (0.8.3)
Requirement already satisfied: nbconvert in /usr/local/lib/python3.6/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->swifter) (5.6.1)
Requirement already satisfied: heapdict in /usr/local/lib/python3.6/dist-packages (from zict>=0.1.3->distributed>=2.0; extra == "complete"->dask[complete]>=0.19.0->swifter) (1.0.1)
Requirement already satisfied: pandocfilters>=1.4.1 in /usr/local/lib/python3.6/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->swifter) (1.4.2)
Requirement already satisfied: bleach in /usr/local/lib/python3.6/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->swifter) (3.1.0)
Requirement already satisfied: entrypoints>=0.2.2 in /usr/local/lib/python3.6/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->swifter) (0.3)
Requirement already satisfied: mistune<2,>=0.8.1 in /usr/local/lib/python3.6/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->swifter) (0.8.4)
Requirement already satisfied: testpath in /usr/local/lib/python3.6/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->swifter) (0.4.4)
Requirement already satisfied: defusedxml in /usr/local/lib/python3.6/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->swifter) (0.6.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.6/dist-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->swifter) (0.5.1)

In [0]:
import pandas as pd
import pandas_profiling as pdf
import swifter

In [0]:
usecols = [
           "pokedex_number",
           "name",
           "japanese_name",
           "type1",
           "type2",
           "height_m",
           "weight_kg",
           "hp",
           "attack",
           "defense",
           "sp_attack",
           "sp_defense",
           "speed",
           "base_egg_steps",
           "base_happiness",
           "capture_rate",
           "base_total",
           "classfication",
           "experience_growth",
           "generation",
           "is_legendary",
]

raw_pokedex = pd.read_csv(
    "./PokemonAnalytics/data/pokedex/Pokemon.csv",
    usecols=usecols,
    index_col="pokedex_number",
)[usecols[1:]].rename(columns={
    "height_m":"height",
    "weight_kg":"weight",
})

In [6]:
raw_pokedex.head()

                      name     japanese_name  ... generation is_legendary
pokedex_number                                ...
1                Bulbasaur  Fushigidaneフシギダネ  ...          1            0
2                  Ivysaur   Fushigisouフシギソウ  ...          1            0
3                 Venusaur  Fushigibanaフシギバナ  ...          1            0
4               Charmander      Hitokageヒトカゲ  ...          1            0
5               Charmeleon       Lizardoリザード  ...          1            0

[5 rows x 20 columns]

In [7]:
raw_pokedex.dtypes

name                  object
japanese_name         object
type1                 object
type2                 object
height               float64
weight               float64
hp                     int64
attack                 int64
defense                int64
sp_attack              int64
sp_defense             int64
speed                  int64
base_egg_steps         int64
base_happiness         int64
capture_rate          object
base_total             int64
classfication         object
experience_growth      int64
generation             int64
is_legendary           int64
dtype: object

In [8]:
def is_int(value):
  try:
    int(value)
    return True
  except ValueError:
    return False

capture_rate_int_values = raw_pokedex.capture_rate.swifter.apply(is_int)
raw_pokedex[~capture_rate_int_values]

HBox(children=(FloatProgress(value=0.0, description='Pandas Apply', max=801.0, style=ProgressStyle(description…

                  name japanese_name  ... generation is_legendary
pokedex_number                        ...
774             Minior     Metenoメテノ  ...          7            0

[1 rows x 20 columns]

In [9]:
raw_pokedex.loc[~capture_rate_int_values, ["name", "japanese_name", "capture_rate"]]

                  name japanese_name              capture_rate
pokedex_number
774             Minior     Metenoメテノ  30 (Meteorite)255 (Core)

In [10]:
raw_pokedex.at[774, "capture_rate"] = 30
raw_pokedex = raw_pokedex.astype({
    "capture_rate":int
})
raw_pokedex.dtypes

name                  object
japanese_name         object
type1                 object
type2                 object
height               float64
weight               float64
hp                     int64
attack                 int64
defense                int64
sp_attack              int64
sp_defense             int64
speed                  int64
base_egg_steps         int64
base_happiness         int64
capture_rate           int64
base_total             int64
classfication         object
experience_growth      int64
generation             int64
is_legendary           int64
dtype: object

In [11]:
raw_pokedex.isna().sum()

name                   0
japanese_name          0
type1                  0
type2                384
height                20
weight                20
hp                     0
attack                 0
defense                0
sp_attack              0
sp_defense             0
speed                  0
base_egg_steps         0
base_happiness         0
capture_rate           0
base_total             0
classfication          0
experience_growth      0
generation             0
is_legendary           0
dtype: int64

In [12]:
raw_pokedex[raw_pokedex.height.isna()]

                     name  ... is_legendary
pokedex_number             ...
19                Rattata  ...            0
20               Raticate  ...            0
26                 Raichu  ...            0
27              Sandshrew  ...            0
28              Sandslash  ...            0
37                 Vulpix  ...            0
38              Ninetales  ...            0
50                Diglett  ...            0
51                Dugtrio  ...            0
52                 Meowth  ...            0
53                Persian  ...            0
74                Geodude  ...            0
75               Graveler  ...            0
76                  Golem  ...            0
88                 Grimer  ...            0
89                    Muk  ...            0
103             Exeggutor  ...            0
105               Marowak  ...            0
720                 Hoopa  ...            1
745              Lycanroc  ...            0

[20 rows x 20 columns]

In [13]:
raw_pokedex[raw_pokedex.weight.isna()]

                     name  ... is_legendary
pokedex_number             ...
19                Rattata  ...            0
20               Raticate  ...            0
26                 Raichu  ...            0
27              Sandshrew  ...            0
28              Sandslash  ...            0
37                 Vulpix  ...            0
38              Ninetales  ...            0
50                Diglett  ...            0
51                Dugtrio  ...            0
52                 Meowth  ...            0
53                Persian  ...            0
74                Geodude  ...            0
75               Graveler  ...            0
76                  Golem  ...            0
88                 Grimer  ...            0
89                    Muk  ...            0
103             Exeggutor  ...            0
105               Marowak  ...            0
720                 Hoopa  ...            1
745              Lycanroc  ...            0

[20 rows x 20 columns]

In [0]:
weight_and_heights = pd.read_csv(
    "./PokemonAnalytics/data/pokedex/height_and_weight.csv",
    usecols=["ndex", "height", "weight"],
).drop_duplicates(
    subset=['ndex'],
    keep='first',
).rename(columns={
    "height":"height_from_feet",
    "weight":"weight_from_ponds",
})
weight_and_heights.index = weight_and_heights.ndex
weight_and_heights = weight_and_heights[["height_from_feet", "weight_from_ponds"]]

In [0]:
joined_pokedex = pd.merge(
    raw_pokedex.rename(columns={
        "height":"raw_height",
        "weight":"raw_weight",
        }),
    weight_and_heights,
    left_on="pokedex_number",
    right_on="ndex",
    left_index=True,
    right_index=True,
)

In [41]:
joined_pokedex.head()

   pokedex_number        name  ... height_from_feet weight_from_ponds
1               1   Bulbasaur  ...           0.7112          6.894604
2               2     Ivysaur  ...           0.9906         13.018101
3               3    Venusaur  ...           2.0066        100.017118
4               4  Charmander  ...           0.6096          8.482177
5               5  Charmeleon  ...           1.0922         19.005520

[5 rows x 23 columns]

In [45]:
height_is_na = joined_pokedex.raw_height.isna().astype(int)
weight_is_na = joined_pokedex.raw_weight.isna().astype(int)
pokedex_without_na = joined_pokedex.fillna(value={
    "type2":"NONE",
    "raw_height":0.0,
    "raw_weight":0.0,
})
pokedex_without_na["height_m"] = (1 - height_is_na) * pokedex_without_na.raw_height + height_is_na * pokedex_without_na.height_from_feet
pokedex_without_na["weight_kg"] = (1 - weight_is_na) * pokedex_without_na.raw_weight + weight_is_na * pokedex_without_na.weight_from_ponds

pokedex = pokedex_without_na.drop(columns=[
                                           "height_from_feet",
                                           "weight_from_ponds",
                                           "raw_height",
                                           "raw_weight",
                                           ]
                                  )[usecols[1:]].rename(columns={
                                      "height_m":"height",
                                      "weight_kg":"weight",})
pokedex.head()

         name     japanese_name  ... generation is_legendary
1   Bulbasaur  Fushigidaneフシギダネ  ...          1            0
2     Ivysaur   Fushigisouフシギソウ  ...          1            0
3    Venusaur  Fushigibanaフシギバナ  ...          1            0
4  Charmander      Hitokageヒトカゲ  ...          1            0
5  Charmeleon       Lizardoリザード  ...          1            0

[5 rows x 20 columns]

In [48]:
pokedex[pokedex.index == 26] # Raichu height: 0.8m, weight: 30kg

      name japanese_name     type1  ... experience_growth  generation  is_legendary
26  Raichu   Raichuライチュウ  electric  ...           1000000           1             0

[1 rows x 20 columns]

## More datsets!

Following datasets are available to explore the pokèmon world.

- Pokemon Sun and Moon (Gen 7) Stats https://www.kaggle.com/mylesoneill/pokemon-sun-and-moon-gen-7-stats
- Pokemon with stats Kaggle https://www.kaggle.com/abcsds/pokemon